#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        base {
            label = "base";
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
            bindings = <
&kp TAB    &kp Q  &kp W  &kp F               &kp P            &kp B         &kp J      &kp L      &kp U      &kp Y       &kp SEMICOLON  &kp BSPC
&kp LCTRL  &kp A  &kp R  &kp S               &kp T            &kp G         &kp M      &kp N      &kp E      &kp I       &kp O          &kp SQT
&kp LSHFT  &kp Z  &kp X  &kp C               &kp D            &kp V         &kp N      &kp H      &kp COMMA  &kp PERIOD  &kp SLASH      &kp DOT
                         &mt LALT BACKSPACE  &mt LGUI ESCAPE  &kp LSHIFT    &kp SPACE  &kp ENTER  &tog 1
            >;
        };

        symbol {
            label = "symbol";
            bindings = <
&trans  &trans  &kp N1  &kp N2  &kp N3  &trans    &kp DOLLAR     &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp SINGLE_QUOTE  &trans  &trans
&trans  &trans  &kp N4  &kp N5  &kp N6  &trans    &kp BACKSLASH  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp PLUS          &trans  &trans
&trans  &trans  &kp N7  &kp N8  &kp N9  &trans    &kp PIPE       &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp MINUS         &trans  &trans
                        &to 0   &kp N0  &trans    &trans         &trans                &trans
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp PG_UP PG_DN>;
        };
    };
};
