#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        combo_studio_unlock {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&studio_unlock>;
        };
    };
};

/ {
    behaviors {
        new_behavior: new_behavior {
            compatible = "zmk,behavior-hold-tap";
            label = "NEW_BEHAVIOR";
            bindings = <&none>, <&none>;

            #binding-cells = <2>;
            tapping-term-ms = <100>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "base";
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;

            bindings = <
&kp TAB    &kp Q  &kp W  &kp F                   &kp P                &kp B             &kp J      &kp L      &kp U      &kp Y       &kp SEMICOLON  &kp BSPC
&kp LCTRL  &kp A  &kp R  &kp S                   &kp T                &kp G             &kp M      &kp N      &kp E      &kp I       &kp O          &kp SQT
&kp LSHFT  &kp Z  &kp X  &kp C                   &kp D                &kp V             &kp N      &kp H      &kp COMMA  &kp PERIOD  &kp SLASH      &kp DOT
                         &mt LEFT_ALT BACKSPACE  &mt LEFT_GUI ESCAPE  &kp LEFT_SHIFT    &kp SPACE  &kp ENTER  &tog 1
            >;
        };

        symbol {
            display-name = "symbol";
            bindings = <
&trans  &kp Q  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp B     &kp DOLLAR     &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp SINGLE_QUOTE  &trans  &trans
&trans  &kp A  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp G     &kp BACKSLASH  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp PLUS          &trans  &trans
&trans  &kp Z  &kp N7        &kp N8        &kp N9        &kp V     &kp PIPE       &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp MINUS         &trans  &trans
                             &to 0         &trans        &trans    &lt 0 ENTER    &kp SPACE             &kp RET
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp PG_UP PG_DN>;
        };
    };
};
